body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  place-items: center;
}
.main {
  width: 250px;
  height: 400px;
  background: #333231;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-family: verdana;
  color: white;
}

#box {
  height: 40px;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 50px;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  width: 80%;
  border-radius: 50px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor:pointer;
}


#red {
  background: linear-gradient(to right, black, red);
}

#green {
  background: linear-gradient(to right, black, green);
}

#blue {
  background: linear-gradient(to right, black, blue);
  margin-bottom: 20px;
}


